@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-900 text-slate-200 antialiased;
}

code {
    @apply font-mono;
}

.hljs {
    @apply bg-slate-800/50 rounded-lg p-4 text-sm;
}
